html{
    height: 100%;
}


body{
    
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.body-menu{
    background-image: url('images/background.png');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;  
}
.body-meals{
    background-image: url('images/logo.png');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;  
} 

/*==========HEADER==========*/
.header{
    background-color: palevioletred;
    
    width: 100%;
    height: 50px;
    top:0;
    
    position: fixed;
    overflow: hidden;
    
    text-align: center;

}
 .header i{
    float: left;
    padding: 17px 0px 17px;
    color: #ffffff;
    
}

.header img{
 width: 150px;  
 padding-top: 14px;
    
} 
#home-logo-text{
    width: auto;
    display: block;
    margin: auto;
    padding: 25px;
}

/*==========HOME PAGE==========*/


#home-logo-img{
    width: 50px;
    display: block;
    margin: auto;
    padding: 25px 10px 10px 10px;
}

/*=====HOME PAGE MENU=====*/

.home-menu-item{
    text-decoration: none;
    text-transform: uppercase;
    
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border: 5px solid black;
     
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
    
}

/*********** MEALS PAGE***********/

#meals{
    padding-top: 50px;
}
/****** MEALS PAGE MENU******/

.meals-list a{
    text-decoration: none;
}

.meals-list-item{
    border: 5px solid #1a1a1a;
    margin: 10px;
}

.meals-list-item h1{
    font-weight: bold;
    font-size: 20px;
    color:black;
    padding-left: 10px;
}

.meals-list-item i{
    float: right;
    color: black;
    padding-right: 20px;
}

.meals-list-item p{
    font-size: 15px;
    font-style: italic;
    color: #ffffff;
    margin-top: -7px;
    padding-left: 10px;
}

/*===========MENU PAGE=========*/

#menu{
    padding-top: 50px;
    
}
/*=========MENU DETAILS========*/

.menu-details img{
    width: 100%;
    
}
.menu-details h1{
    font-size: 25px;
    text-align: center;
    border: 5px solid #1a1a1a;
    margin: 10px;
    padding: 5px;
    
}
.menu-details-info{
   margin-left: 25px;
    margin-right: 25px;
}
.menu-details-info p{
    font-size: 13px;
    display: inline-block;
    
}
.men-details-info-steps{
    padding-top: 20px;
}

/*==========RESPONSIVE LAYOUT==========*/
@media only screen and (min-width: 600px){
    #meals{
        width: 80%;
        margin: auto;
    }
}

@media only screen and (min-width: 100px){
    #meals{
        width: 60%;
        margin: auto;
        
    }
    
    #menu{
        width: 80%;
        margin: auto;
        
    }
}


@media only screen and (min-width: 1500px){
    #meals{
        width: 40%;
        margin: auto;
    }
    
    #menu{
        width: 40%;
       margin: auto;
        
    }
}

@media only screen and (min-width: 720px){
    .body-home{
        background-image: url('images/logo.png');
    }
    
    .body-meals{
        background-image: url('images/bckgn.png');
        
    }
}

















